# Ignore everything
*

# Except these (Safety allowlist)
!/dockervm_cli/
!/dockervm_cli/**
!setup.py
!setup.sh
!requirements.txt
!README.md
!.gitignore
!.COMMANDS_DE.md
# Python cruft (just in case)
__pycache__/
*.pyc
*.egg-info/
dist/
build/
venv/