services:
  docmost:
    image: docmost/docmost:latest
    depends_on:
      - db
      - redis
    env_file:
      - .env          # <-- alle sensiblen Variablen werden aus der .env‑Datei geladen
    environment:
      # Diese Variablen werden in der .env‑Datei definiert, aber hier für Klarheit aufgeführt
      APP_URL: ${APP_URL}
      APP_SECRET: ${APP_SECRET}
      DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"
      REDIS_URL: "redis://redis:6379"
    ports:
      - "3001:3000"
    restart: unless-stopped
    volumes:
      - ./docmost/data:/app/data/storage

  db:
    image: postgres:18
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    restart: unless-stopped
    volumes:
      - ./docmost/db_data:/var/lib/postgresql

  redis:
    image: redis:8
    command: ["redis-server", "--appendonly", "yes", "--maxmemory-policy", "noeviction"]
    restart: unless-stopped
    volumes:
      - ./docmost/redis_data:/data

volumes:
  docmost:
  db_data:
  redis_data: